<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="ml-5 mt-3">
 <%= link_to user_path(visitor) do %>
     <%= visitor.name %>さんが
 <% end %>
 <% if notification.action=='dm' %>
    あなたにDMを送りました
 <% end %>
 <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
</div>